.header {
  width: 100vw;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 4rem 1rem 4rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  border: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boy {
  width: 34px;
  height: 40px;
}

.heading {
  font-family: mvboli, sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 100;
  margin-right: 20px;
}

.headingHidden{
  visibility: hidden;
}

.claretHeading {
  font-family: mvboli, sans-serif;
  color: #770201;
  font-size: 1.3rem;
  font-weight: 100;
  margin-right: 20px;
}

.navItem {
  font-family: mvboli, sans-serif;
  color: white;
  font-size: 1.3rem;
  margin-right: 40px;
  font-weight: 100;
  cursor: pointer;
}

.navItemSelected {
  border-bottom: 2px solid white;
  font-family: mvboli, sans-serif;
  color: white;
  font-size: 1.3rem;
  margin-right: 40px;
  font-weight: 100;
  cursor: pointer;
}

.claretNavItem {
  font-family: mvboli, sans-serif;
  color: #770201;
  font-size: 1.3rem;
  font-weight: 100;
  margin-right: 40px;
}

.claretNavItemSelected {
  font-family: mvboli, sans-serif;
  color: #770201;
  font-size: 1.3rem;
  font-weight: 100;
  margin-right: 40px;
  border-bottom: 2px solid #770201;
}
