.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    background-color: #DAFF00;
}

.odeContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    font-size: 1.3rem;
}

.odeContainer p {
    color: #770201;
    margin: 0;
}

