.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #949494;
  z-index: -1;
}

.videoContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.videoResponsive {
    width: 853px;
    height: 480px;
}

.videoTitle {
  font-size: 1rem;
}

