.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #949494;
  z-index: -1;
}

.videoContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5vw;
}

.videoFrame {
  width: 853px;
  height: 480px;
}

.videoTitle {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .videoFrame {
    width: 700px;
    height: 394px;
  }
}

@media only screen and (max-width: 500px) {
  .videoFrame {
    width: 90vw;
    height: 50.625vw;
  }
}

